<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="com.bettervoice.phonertc"
  version="2.0.0">

  <name>PhoneRTC</name>
  <description></description>
  <license></license>

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <js-module src="phonertc.js" name="PhoneRTC">
    <clobbers target="cordova.plugins.phonertc" />
  </js-module>
  <js-module name="mediahandler" src="mediaHandler.js" />
  <js-module name="mediahandlerlegacy" src="mediaHandlerLegacy-0.6.4.js" />
  <js-module name="sipjs" src="sip.js">
    <clobbers target="cordova.plugins.sipjs" />
  </js-module>
  <js-module name="sipjslegacy" src="sip-0.6.4.js">
    <clobbers target="cordova.plugins.sipjslegacy" />
  </js-module>
  <platform name="ios">
    <info>
      ---------------------
      PhoneRTC Installation
      ---------------------

      In order to install PhoneRTC on iOS, please follow these steps:

      1) Go platforms/ios and click on [ProjectName].xcodeproj to open it with XCode
      2) Go to your project settings
      3) In `General`, change `Deployment Target` to 7.0 or above
      4) Go to `Build Settings` and change:

      `Objective-C Bridging Header` => [ProjectName]/Plugins/com.bettervoice.phonertc/Bridging-Header.h
      `Swift Optimization Level` => -Onone
      `Runpath Search Paths` => $(inherited) @executable_path/Frameworks

      6) Enable Audio + VoIP Background Modes
      ---------------------
    </info>

    <config-file target="config.xml" parent="/*">
      <feature name="PhoneRTCPlugin">
        <param name="ios-package" value="PhoneRTCPlugin" />
      </feature>
    </config-file>

    <header-file src="src/RTCAudioSource.h" />
    <header-file src="src/RTCAudioTrack.h" />
    <header-file src="src/RTCDataChannel.h" />
    <header-file src="src/RTCEAGLVideoView.h" />
    <header-file src="src/RTCI420Frame.h" />
    <header-file src="src/RTCICECandidate.h" />
    <header-file src="src/RTCICEServer.h" />
    <header-file src="src/RTCMediaConstraints.h" />
    <header-file src="src/RTCMediaSource.h" />
    <header-file src="src/RTCMediaStream.h" />
    <header-file src="src/RTCMediaStreamTrack.h" />
    <header-file src="src/RTCNSGLVideoView.h" />
    <header-file src="src/RTCOpenGLVideoRenderer.h" />
    <header-file src="src/RTCPair.h" />
    <header-file src="src/RTCPeerConnection.h" />
    <header-file src="src/RTCPeerConnectionDelegate.h" />
    <header-file src="src/RTCPeerConnectionFactory.h" />
    <header-file src="src/RTCSessionDescription.h" />
    <header-file src="src/RTCSessionDescriptionDelegate.h" />
    <header-file src="src/RTCStatsDelegate.h" />
    <header-file src="src/RTCStatsReport.h" />
    <header-file src="src/RTCTypes.h" />
    <header-file src="src/RTCVideoCapturer.h" />
    <header-file src="src/RTCVideoRenderer.h" />
    <header-file src="src/RTCVideoSource.h" />
    <header-file src="src/RTCVideoTrack.h" />
    <header-file src="src/SRWebSocket.h" />
    <header-file src="src/Bridging-Header.h" />

    <source-file src="src/PhoneRTCPlugin.swift" />
    <source-file src="src/PCObserver.swift" />
    <source-file src="src/Session.swift" />
    <source-file src="src/Config.swift" />
    <source-file src="src/SessionDescriptionDelegate.swift" />
    <source-file src="src/WebSocket.swift" />
    <source-file src="src/WebSocketDelegate.swift" />

    <source-file src="lib/webrtc-ios-unified.a" framework="true" />

    <framework src="libc++.dylib" />
    <framework src="libstdc++.dylib" />
    <framework src="libsqlite3.0.dylib" />
    <framework src="libicucore.dylib" />
    <framework src="OpenGLES.framework" />
    <framework src="CoreVideo.framework" />
    <framework src="CoreMedia.framework" />
    <framework src="CoreAudio.framework" />
    <framework src="CFNetwork.framework" />
    <framework src="Security.framework" />
    <framework src="Foundation.framework" />
    <framework src="AVFoundation.framework" />
    <framework src="QuartzCore.framework" />
    <framework src="AssetsLibrary.framework" />
    <framework src="CoreGraphics.framework" />
    <framework src="MobileCoreServices.framework" />
    <framework src="CoreLocation.framework" />
    <framework src="AudioToolbox.framework" />
    <framework src="GLKit.framework" />
  </platform>

</plugin>
